body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  margin: 0 2rem;
}