<h1>Authors in our DB:</h1>

{{#each authors}}
    <div class="author-summary">
        <h2>{{this.name}}</h2>
        <p>
            Age: {{this.age}} <br>
            Country: {{this.country}} <br>
        </p>
    </div>
{{/each}}